<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hellpo
      <% if (hireMessage.length) { %>
            <div id="hireMessageDiv" class="alert alert-success alert-dismissible  fade show " role="alert">
                <%= hireMessage %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closebutton()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        <% } %> -->
</body>
</html>